name: Run Android build

on:
  push:
    paths:
      - 'dist/**.js'
      - '.github/*.json'

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - windows-latest
          - macos-latest

    # Disabled, because daveol/SampleApplication is missing
    if: ${{ false }}

    steps:
      - uses: actions/checkout@v4
        with:
          repository: daveol/SampleApplication

      - uses: actions/checkout@v4
        with:
          path: ./build/

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: 17
          distribution: 'temurin'

      - name: Setup Android SDK
        id: 'setup-android'
        uses: ./build/

      - name: Build SampleApplication
        if: runner.os != 'windows'
        run: ./gradlew --no-daemon build

      - name: Build SampleApplication (Windows)
        if: runner.os == 'windows'
        run: .\gradlew.bat --no-daemon build
