name: Run Android build

on:
  pull_request:
    paths-ignore:
      - '**.md'
  push:
    branches:
      - main
      - releases/*
    paths-ignore:
      - '**.md'

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - windows-latest
          - macos-latest
    steps:
      - uses: actions/checkout@v2
        with:
          repository: daveol/SampleApplication

      - uses: actions/checkout@v2
        with:
          path: ./build/

      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8

      - name: Setup Android SDK
        id: 'setup-android'
        uses: ./build/

      - name: Build SampleApplication
        if: runner.os != 'windows'
        run: ./gradlew --no-daemon build

      - name: Build SampleApplication (Windows)
        if: runner.os == 'windows'
        run: .\gradlew.bat --no-daemon build
